html {
}

.content {
    /*
    Wrapper für den Inhalt der Seite
    */
    /*
    max-width: 700px;
    */
}

h1 {
}

table {
}

tr {
}

td {
}

thead td {
    /*
    Einzelne Zellen im Tabellenkopf
    */
}

tr:hover {
    /*
    Tabellenzeilen, die per Maus überflogen werden
    */
}

.entries {
    /*
    Einträge, die auf den Seiten abruf.php und intern.php als Tabelle angezeigt werden
    */
}

.details {
    /*
    Einträge, die auf der Seite details.php angezeigt werden
    */
}

/* HEADER-NAVIGATION */
nav {
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
nav a {
    background-color:lightgray;
    border: solid 1px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0.2em;

    /*flex-basis: 25%;*/
    flex-grow: 1;
    min-width: 150px;
}
nav a:hover {
    background-color: #D8B17F;
}
#loginBox {
    padding: 2px;
    position: absolute;
    right: 0px;
    background-color: white;
}

/* ENDE HEADER-NAVIGATION */
